 .back-img{
  background-image: url('Resources/meals.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  height: 900px;

 }
.contact-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
margin-top: 40px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.contact-container h2 {
  color: blue !important; /* Goldenrod */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  font: bold;
}

.contact-form {
  backdrop-filter: blur(27px);
  -webkit-backdrop-filter: blur(27px);
  border-radius: 12px;
  padding: 20px;
  height: 710px;
  background-color: rgba(255, 255, 255, 0.2);

} 
.contact-form:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
label
{
  color:beige!important;
  display: inline;
  font-size: 25px !important;
}
input {
  
    border: none;  
    border-bottom: 2px solid #ccc;  
    font-size: 25px;
    outline: none;  
    background: transparent !important; 
    margin-bottom: 10px; 
    color: white;
}
input:focus {
  border-bottom: 2px solid #00bcd4; 
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5); 
}
.radio-group {
  font-size: 25px;
}

 .submit-btn {
    font-size: 20px;
    width: 250px;
    margin-left: 190px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover transition */
  }
  .submit-btn:hover {
    background-color: #00bcd4; 
    transform: scale(1.05); 
  }
  .submit-btn:active {
    transform: scale(1); 
  }
  








