.foot {
  background-image: url('Resources/footer.jpg');
  background-size: cover;
  height: 550px;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 0 0;
  color: lightyellow;
}
.menu
 {
  flex: 2;
}
.menu h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: lightyellow;
  margin-top: 10px;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;       
  gap: 30px 5px;          
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li {
  font-size: 30px;
  min-width: 200px; 
  margin-left: 30px;
}

.menu ul a {
  color: lightyellow;
  text-decoration: none;
  transition: color 0.3s;
}
.menu ul a:hover {
  color: yellow;
}
.feeds
{
  flex: 2;
  min-width: 300px;
}

.feeds h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: lightyellow;
  margin-top: 10px;
}

.img-feed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  width: 600px;
}
#feed {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}
#span
{
  color: white;
  font-size: 25px;
} 
.newsletter h2
{
  font-size: 45px;  
}
.letter
{
  margin-left: 40px;
}
#btn
{
  margin-top: 20px;
  font-size: 30px;
  border-radius: 7px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 70px;
}

.social a {
  font-size: 60px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.social a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

